<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Nour-Eddine ECH-CHEBABY</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
    <link rel="manifest" href="/manifest.json">

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Person",
            "image": "janedoe.jpg",
            "jobTitle": "Software Engineer",
            "name": "Nour-Eddine ECH-CHEBABY",
            "gender": "male",
            "nationality": "Moroccan",
            "url": "https://www.echebaby.com",
            "sameAs" : [
                "https://www.facebook.com/",
                "https://www.linkedin.com/",
                "http://twitter.com/",
                "http://instagram.com/",
                "https://plus.google.com/"
            ]
        }
    </script>
</head>
<body>

    <!--preloader starts-->

    <div class="loader_bg"><div class="loader"></div></div>

    <!--preloader ends-->

    <!--navigation area starts-->

    <header class="nav-area navbar-fixed-top">
        <div class="container">
            <div class="row">
                <!--main menu starts-->

                <div class="col-md-12">
                    <div class="main-menu">
                        <div class="navbar navbar-cus">
                            <div class="navbar-header">
                                <a href="index.html" class="navbar-brand">Nour-Eddine</a>
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse">
                                <nav>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active"><a class="smooth-menu" href="#home">Home</a></li>
                                        <li><a class="smooth-menu" href="#about">About</a></li>
                                        <li><a class="smooth-menu" href="#resume">Resume</a></li>
                                        <li><a class="smooth-menu" href="#services">Services</a></li>
                                        <li><a class="smooth-menu" href="#portfolio">Portfolio</a></li>
                                        <li><a class="smooth-menu" href="#testimonial">Testimonial</a></li>
                                        <li><a class="smooth-menu" href="#contact">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <!--main menu ends-->
            </div>
        </div>
    </header>

    <!--navigation area ends-->

    <!--slider area starts-->
    <div id="home"></div>
    <div class="banner-area" id="slider-area">
        <div id="particles-js"></div>
        <div class="banner-table">
            <div class="banner-table-cell">
                <div class="welcome-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Nour-Eddine ECH-CHEBABY</h2>
                                <div class="text-affect"></div>
                                <p class="banner-btn"><a href="#contact">Contact Now</a></p>
                                <div class="clearfix"></div>
                                <div class="mouse-icon hidden-sm hidden-xs">
                                    <div class="wheel"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--slider area ends-->

    <!--about area starts-->

    <div id="about" class="about-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="about-left wow fadeInDown" data-wow-delay="0.4s">
                        <img src="<%= require('./assets/images/about/sketchy_me.png') %>" alt="profile image">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <div class="about-right wow fadeInDown" data-wow-delay="0.8s">
                        <h1>
                            I'm <span class="text-primary">Nour-Eddine ECH-CHEBABY</span> <br>
                            <span class="spelling">Pronounced : /ṇɔrdɪṇ/ /ʃɪbabɪ/</span> <br>
                            and I'm a Full stack Developer
                        </h1>
                        <p>I design and code beautifully simple things, and I love what I do.</p>
                        <hr>
                        <p>I will build your business online, whether a store, a service, a promotion, a non-profit, or an entirely online enterprise.</p>
                        <p>I use industry standard open source technology to keep your costs down and avoid vendor lock-in.</p>
                        <hr>
                        <div class="socials">
                            <ul>
                                <li><a href="https://twitter.com/__chebaby" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://github.com/chebaby" target="_blank"><i class="fa fa-github"></i></a></li>
                                <li><a href="https://stackoverflow.com/users/4325011/chebaby" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--about area ends-->

    <!--resume area starts-->

    <div id="resume" class="resume-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h2>My Resume</h2>
                        <p class="line1"></p>
                        <p class="line2"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>Education</h5>
                    <div class="timeline">
                        <div class="wrapper right">
                            <div class="content">
                                <div class="education-area wow fadeInDown" data-wow-delay="0.2s">
                                    <h6>2009-2011</h6> <!--edit here-->
                                    <h4>Technician degree in computer networks</h4> <!--edit here-->
                                    <h3><abbr title="Specialized Institute of Applied Technology">SIAT</abbr></h3> <!--edit here-->
                                    <p>The Specialized Technician in Computer Networks is a professional responsible for exploiting, securing, optimizing and evolving the IT resources of the company.</p>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper right">
                            <div class="content">
                                <div class="education-area wow fadeInDown" data-wow-delay="0.6s">
                                    <h6>2006-2007</h6> <!--edit here-->
                                    <h4>degree in experimental science</h4> <!--edit here-->
                                    <h3><abbr title="Ibn Sulaiman Roudani">ISR</abbr> Hight school</h3> <!--edit here-->
                                    <p>Mathematics, Physics, Chemistry and Philosophy.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5>Experience</h5>
                    <div class="timeline">
                        <div class="wrapper right">
                            <div class="content">
                                <div class="experience-area wow fadeInDown" data-wow-delay="0.4s">
                                    <h6>2017-Present</h6> <!--edit here-->
                                    <h4 class="mb-2">Grafimage</h4> <!--edit here-->
                                    <h3 class="mb-2">Backend Developer</h3> <!--edit here-->
                                    <p>Dynamic website design and programming using PHP, MySQL, HTML, CSS, JavaScript Setup and administration of web servers and server software.</p>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper right">
                            <div class="content">
                                <div class="experience-area wow fadeInDown" data-wow-delay="0.8s">
                                    <h6>2016-2017</h6> <!--edit here-->
                                    <h4 class="mb-2">Imalia</h4> <!--edit here-->
                                    <h3 class="mb-2">Frontend Developer</h3> <!--edit here-->
                                    <p>Developed front-end using jQuery, RequireJS, and Handlebars.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--resume area ends-->

    <!--services area starts-->

    <div id="services" class="services-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h2>My Services</h2>
                        <p class="line1"></p>
                        <p class="line2"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="single-services text-center wow fadeInDown" data-wow-delay="0.2s">
                        <div class="services-icon">
                            <i class="fa fa-thumbs-o-up"></i>
                        </div>
                        <div class="services-content">
                            <h3>Quality</h3> <!--edit the service you give-->
                            <p>
                                An API that isn't comprehensible isn't usable.
                                Like you, i care about quality and believe in doing things right the first time.
                                <br>- James Gosling
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="single-services text-center wow fadeInDown" data-wow-delay="0.4s">
                        <div class="services-icon">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <div class="services-content">
                            <h3>Performance</h3> <!--edit the service you give-->
                            <p>
                                The greatest performance improvement of all is when a system goes from not-working to working.
                                <br>- John Ousterhout
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="single-services text-center wow fadeInDown" data-wow-delay="0.6s">
                        <div class="services-icon">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <div class="services-content">
                            <h3>Maintainability</h3> <!--edit the service you give-->
                            <p>
                                I always code as if the guy who ends up maintaining my code will be a violent psychopath who knows where i live.
                                <br>- Martin Golding
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--services area ends-->

    <!--portfolio area starts-->

    <div id="portfolio" class="portfolio-area section-padding">
        <div class="container">
            <div class="row">
                <div class="section-header">
                    <h2>My Works</h2>
                    <p class="line1"></p>
                    <p class="line2"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-6 col-lg-4">
                    <div class="gallery-items wow fadeInLeft" data-wow-delay="0.2s">
                        <a class="view img" href="<%= require('./assets/images/portfolio/fundbid.jpg') %>">
                            <img src="<%= require('./assets/images/portfolio/small/fundbid.png') %>" alt="portfolio image">

                        </a>

                        <div class="gallery-text">
                            <h2>Laravel</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-4">
                    <div class="gallery-items wow fadeInDown" data-wow-delay="0.4s">
                        <a class="view img" href="<%= require('./assets/images/portfolio/doctori.jpg') %>">

                            <img src="<%= require('./assets/images/portfolio/small/doctori.png') %>" alt="portfolio image">
                        </a>

                        <div class="gallery-text">
                            <h2>Symfony</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-4">
                    <div class="gallery-items wow fadeInRight" data-wow-delay="0.6s">
                        <a class="view img" href="<%= require('./assets/images/portfolio/tripdiem.jpg') %>">
                            <img src="<%= require('./assets/images/portfolio/small/tripdiem.png') %>" alt="portfolio image">
                        </a>

                        <div class="gallery-text">
                            <h2>Javascript</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-4">
                    <div class="gallery-items wow fadeInLeft" data-wow-delay="0.8s">
                        <a class="view img" href="<%= require('./assets/images/portfolio/fooz.jpg') %>">
                            <img src="<%= require('./assets/images/portfolio/small/fooz.png') %>" alt="portfolio image">
                        </a>

                        <div class="gallery-text">
                            <h2>Android</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-4">
                    <div class="gallery-items wow fadeInDown" data-wow-delay="1s">
                        <a class="view img" href="<%= require('./assets/images/portfolio/small/5.png') %>"> <!--edit image here-->
                            <img src="<%= require('./assets/images/portfolio/small/5.png') %>" alt="portfolio image"> <!--edit image here-->
                        </a>

                        <div class="gallery-text">
                            <h2>Poster Design</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-4">
                    <div class="gallery-items wow fadeInRight" data-wow-delay="1.2s">
                        <a class="view img" href="<%= require('./assets/images/portfolio/small/6.png') %>"> <!--edit image here-->
                            <img src="<%= require('./assets/images/portfolio/small/6.png') %>" alt="portfolio image"> <!--edit image here-->
                        </a>

                        <div class="gallery-text">
                            <h2>brochure</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--portfolio area ends-->

    <!--testimonial area starts-->

    <!--Testimonial Area Starts-->

    <div id="testimonial" class="testimonial-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h2>What Buyer's Say</h2>
                        <p class="line1"></p>
                        <p class="line2"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div id="testimonial-slider" class="owl-carousel">
                        <div class="single-testimonial">
                            <div class="testimonial-content">
                                <p>Matt was a real pleasure to work with and we look forward to working with him again. He’s the kind of designer you can trust with a project from start to finish.</p>
                            </div>
                            <div class="pic">
                                <img src="<%= require('./assets/images/testimonial/1.png') %>" alt="testimonial image"> <!--here you can change image-->
                            </div>
                            <div class="testimonial-title">
                                <h3>Pascal Tremblay</h3>
                                <small>Creative Lead, Good Kind</small>
                            </div>
                        </div>

                        <div class="single-testimonial">
                            <div class="testimonial-content">
                                <p>Daniel Fischer is one of the most talented, intelligent, consistent and genuinely good hearted people that I have had the opportunity to work with. <br>

Daniel possess an incredibly rare mix of design awareness, development talent and business intelligence. He is my go-to tech resource (Pocket CTO if you will) and quite honestly, has impressed me with positive outcomes on every project that I've had the opportunity to work with him on.</p>
                            </div> <!--copy and paste the best review you have got from buyer inside p tag-->
                            <div class="pic">
                                <img src="<%= require('./assets/images/testimonial/2.png') %>" alt="testimonial image"> <!--here you can change image-->
                            </div>
                            <div class="testimonial-title">
                                <h3>Raaid Hossain</h3> <!--you can change the reviewer name here-->
                                <small>VP & Co-Founder, Wiser</small> <!--reviewer's designation-->
                            </div>
                        </div>

                        <div class="single-testimonial">
                            <div class="testimonial-content">
                                <p>Daniel is a great guy to work with. Good spirit, competent, and more than willing to put to long hours in to meet our deadline --- H works with a lot of structure and understanding in a area of web development where this is rare. He's got a eye for design and good coding sense.</p>
                            </div> <!--copy and paste the best review you have got from buyer inside p tag-->
                            <div class="pic">
                                <img src="<%= require('./assets/images/testimonial/3.png') %>" alt="testimonial image"> <!--here you can change image-->
                            </div>
                            <div class="testimonial-title">
                                <h3>Benjamin Bryant</h3> <!--you can change the reviewer name here-->
                                <small>Special Projects, Pebble</small> <!--reviewer's designation-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Testimonial Area Ends-->
    <!--testimonial area ends-->

    <!--invitation area starts-->

    <div class="invitation-area section-padding">
        <div class="container">
            <div class="row">
                <div class="single-invite text-center">
                    <h2>do you have any project need to be done?</h2>
                    <p>Interested in collaborating or investing? <br>
I’m always open to discussing product design work or partnership opportunities.</p>
                    <p>Let's make something special.</p>
                    <a href="#contact" class="my-btn-3">Get started</a>
                </div>
            </div>
        </div>
    </div>

    <!--invitation area ends-->

  <!--contact area starts-->

     <div id="contact" class="contact-area section-padding">
         <div class="container">
             <div class="row">
                 <div class="section-header">
                     <h2>contact me</h2>
                     <p class="line1"></p>
                     <p class="line2"></p>
                 </div>
             </div>

             <div class="row">
                 <div class="col-md-12 col-lg-12">

                     <div class="top-contact">

                         <div class="row">
                             <div class="col-sm-4 col-md-4">
                                 <div class="top-contact-text wow fadeInDown" data-wow-delay="0.2s">

                                     <div class="contact-icon">
                                         <ul>
                                             <li><a href="#"><i class="fa fa-map-marker"></i></a></li>
                                         </ul>
                                     </div>

                                     <h2>Address / Street</h2>
                                     <p>Office N ° 6 2nd floor, building Amal Anzi avenue Hassan 1er, city Almassira 80000, Agadir - Morocco</p>
                                 </div>
                             </div>
                             <div class="col-sm-4 col-md-4">
                                 <div class="top-contact-text wow fadeInDown" data-wow-delay="0.4s">
                                     <div class="contact-icon">
                                         <ul>
                                             <li><a href="#"><i class="fa fa-phone"></i></a></li>
                                         </ul>
                                     </div>

                                     <h2>Contact Number</h2>
                                     <p>+212 - 601 - 548 - 257</p>
                                 </div>
                             </div>
                             <div class="col-sm-4 col-md-4">
                                 <div class="top-contact-text wow fadeInDown" data-wow-delay="0.6s">
                                     <div class="contact-icon">
                                         <ul>
                                             <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                         </ul>
                                     </div>

                                     <h2>Email</h2>
                                     <p>ech.chebaby@gmail.com</p>
                                 </div>
                             </div>
                         </div>

                     </div>

                 </div>
             </div>

             <div class="row">
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-contact-form">

                     <form id="contact-form" method="post" action="contact.php">

                         <div class="messages"></div> <!--you can change the message in contact.php file -->

                         <div class="controls">

                             <div class="row">
                                 <div class="col-md-6">
                                     <div class="form-group">
                                         <input id="form_name" type="text" name="name" class="form-control" placeholder="Enter your full name *" required="required" data-error="Fullname is required.">
                                         <div class="help-block with-errors"></div>
                                     </div>
                                 </div>
                                 <div class="col-md-6">
                                     <div class="form-group">
                                         <input id="form_email" type="email" name="email" class="form-control" placeholder="Enter your email *" required="required" data-error="Valid email is required.">
                                         <div class="help-block with-errors"></div>
                                     </div>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-md-12">
                                     <div class="form-group">
                                         <textarea id="form_message" name="message" class="form-control" placeholder="Your Message *" rows="4" required="required" data-error="Leave a message for me"></textarea>
                                         <div class="help-block with-errors"></div>
                                     </div>
                                 </div>
                                 <div class="col-md-12">
                                     <button class="btn btn-send" value="">Send message</button>
                                 </div>
                             </div>
                         </div>

                     </form>

                 </div>


             </div>
         </div>

    </div>

  <!--contact area ends-->

    <!--Footer Area Starts-->

    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <p>Made with <span style="font-size:100%;color:red;">&hearts;</span>
 <a href="https://www.codester.com/user/MouriTheme/" target="_blank">Nour-Eddine ECH-CHEBABY</a></p>
                </div>
            </div>
        </div>
    </div>

    <!--Footer Area Ends-->
</body>
</html>
